
body{
	width:1000px;
	margin: auto;
}
#Top{
	height: 130px;	
	background-image: url("../Hinh Anh/banner.png");
}
#Menu{
	height:50px;
	background: url("../Hinh Anh/menu.png");	
	text-align: center;
	line-height:50px;
	font-size:20;
	margin: 10px 0px 0px 0px;
	
}
#Menu ul {
	list-style-type: none;
	padding : 0px;
}
#Menu >ul>li {
	width:160px;
	float : left;
	border-left:1px solid #ffffff;
	position: relative;	
}
#Menu ul li a {
	text-decoration: none;
	color: white;
}
#Menu ul li a:hover{
	color :green;
}
#Menu li:hover #SubMenuTop{
	display:block;
}
#SubMenuTop{
	width:300px;
	margin-left : 50px;
	display: none;
	position: absolute; 
	background: url("../Hinh Anh/menu.png");
}
#SubMenuTop li {
	width:300px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}


#wrapper{
	height: auto;
	width: 1000px;
}
#LeftMenu{
	width:200px;
	height: auto;	
	float:left;
	text-align:left;
	font-size: 20;
}
#LeftMenu ul{
	list-style-type: none;
	padding: 0px;
	/*margin-top:20px;*/
}
#LeftMenu >ul >li{
	width: auto;
	background: url("../Hinh Anh/menu.png");
	height: 50px;
	line-height:50px;
	border-bottom: 1px solid #ffffff;
	padding: 0 1em;
	position: relative;
}
#LeftMenu ul li a{
	text-decoration: none;
	color: white;
}
#LeftMenu li:hover #SubMenuLeft{
	display: block;
}
#SubMenuLeft{
	width:300px;
	left:200px;
	top: 0px;
	display: none;
	position: absolute; 
	background: url("../Hinh Anh/menu.png");	
	border-left:1px solid #dddddd;
}
#SubMenuLeft li{
	border-bottom:1px solid #ffffff;
	padding-left:20px;
}
#ConTent{
	background-color:white;
	width: 795px;
	height: 1000px;
	float:left;
	margin-left:5px;
}

#Footer{
	clear: both;
	height: 40px;
	color:white;
	text-align: center;
	line-height:40px;
	background: url("../Hinh Anh/menu.png");
	bottom: 0px;
}
.icon {
	width:24px;
	height:24px;
}
#Search{
	float: right;
	padding: 7px 20px 0px 10px;
	margin-right: 0px;
}
#Search_Text{
	width:200px;
	padding-left:20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 30px;
    color: black;
    background: white;
    float: left;
    box-sizing: border-box;
}
#Search_Button {
    border: 0 none;
    background: black url("../Hinh Anh/search.png") center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 30px;
    cursor: pointer;
}
#ThanhVien{
	width:395px;
	height: 100px;
	display: inline-block;
	position: relative;
	float: left;
	color: black;
	
}
#ThanhVien >img {
	height: 100px;
	width: 100px;
	float: left;
}
#ThanhVien ul{
	width: 250px;
	height: 100px;
	float:left;
	margin:5px auto;
	padding-right: -10px;
}
#ThanhVien ul li {
	padding-left: 0px;
	list-style-type: none;
	
}
#ThanhVien ul li a {
	text-decoration: none;
	margin-right:-10px;
}

#Thongtin
	{
		color: #00008B;
		font-size: 18pt;
		margin: auto;
		float:left;
		padding-top: 10px;
	}

#Thongtin ul li {
	padding-left: 20px;
}

#Hoten {
	text-align: center;
	color: 	#CD0000;
	font-size: 30;
	padding-top: 5px;
	margin-bottom: 20px ;
}

#wrapper1{
	height:100%;
	padding-left: 80px;
	padding-top: 20px;
}

#SizeFont
{
	font-size: 20px;
	display: inline-table;
	padding-left: 120px;
	color: #00008B;
}

#SizeForm
{
	font-size: 15px;
	width: 250px;
	height: 30px;
}

#Submit
{
	width: 68px;
	height: 30px;
	background: url("../Hinh Anh/Submit.gif") center no-repeat;
}

marquee{
		color: #FF4500;
		font-size: 18pt;
	}


.detailBlog{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	width: 100%;
	float: left;
}
.Avarta {
	border:1px solid #000000;
	padding: 2px;
	float: left;
	margin: 10px 10px 10px 0px;
}
.detailPoster{
	float left;
}
.headerBlog{
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
	color: #CD0000;
}

#Blog
{
	font-size: 16px;
	font-family: TimeNewRomance;
	color: #00008B;
}

#ListBlog
{
	display: inline-block;
	width: 400px;
    height: auto;
    margin: 10px;
    border: 3px solid #73AD21;
    text-decoration: none;  
}

#ListBlog a{
	text-decoration: none;
	font-size: 23px;
	padding-left: 10px;
}
