
body{
	width:1000px;
	margin: auto;
}
#Top{
	
	height: 130px;	
	background-image: url("banner.png");
}
#Menu{
	height:50px;
	background-color:black;	
	text-align: center;
	line-height:50px;
	font-size:20;
	margin: 10px 0px 10px 0px;
}
#Menu ul {
	list-style-type: none;
	padding : 0px;
}
#Menu >ul>li {
	width:160px;
	float : left;
	border-left:1px solid #ffffff;
	position: relative;	
}
#Menu ul li a {
	text-decoration: none;
	color: white;
}
#Menu ul li a:hover{
	color :green;
}
#Menu li:hover #SubMenuTop{
	display:block;
}
#SubMenuTop{
	width:300px;
	margin-left : 50px;
	display: none;
	position: absolute; 
	background: black;
}
#SubMenuTop li {
	width:300px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}


#wrapper{
	height:900px;
	
}
#LeftMenu{
	width:200px;
	height: 500;
	background: black;
	float:left;
	text-align:left;
}
#LeftMenu ul{
	list-style-type: none;
	
	padding: 0px;
}
#LeftMenu ul li{
	width: auto;
	height: 50px;
	line-height:50px;
	border-bottom: 1px solid #ffffff;
	padding: 0 1em;
}
#LeftMenu ul li a{
	text-decoration: none;
	color: white;
}

#ConTent{
	background-color:white;
	width: 795px;
	height:500px;
	float:left;
	margin-left:5px;
}

#Footer{
	background-color: black;
	height: 50;
	margin: 10px 0px 0px 0px;

}
